.idea
*.DotSettings.user
.vs

TtyhLauncher.Core/bin
TtyhLauncher.Core/obj
TtyhLauncher.Core/logs

TtyhLauncher.GTK/bin
TtyhLauncher.GTK/obj
TtyhLauncher.GTK/logs

TtyhLauncher.Win/bin
TtyhLauncher.Win/obj
TtyhLauncher.Win/logs
